<div class="flex items-start w-full">
  <h1 class="grow">All your recipes</h1>
  <%= link_to "New", new_recipe_path, class: 'btn-primary' %>
</div>

<div class="flex flex-col gap-4 not-prose">
  <% if @recipes.blank? %>
  <p>No Publicly available recipes at this moment</p>
  <% end %>

  <% @recipes.each do |recipe| %>
    <div class="flex flex-col gap-4 rounded-lg border bg-gray-50 p-4 shadow hover:shadow-lg">
      <div class="flex items-start w-full">
        <h2 class="grow text-2xl font-semibold">
          <%= link_to recipe.name, recipe_path(recipe.id) %>
        </h2>
        <%= button_to "Delete", recipe_path(recipe.id), method: :delete, class:"btn text-red-500" %>
      </div>
      <p><%= recipe.description %></p>
    </div>
  <% end %>
</div>
